@{
  Layout="Shared/_Layout.cshtml";
}

@if (@Model["bands"].Count < 1)
{
    <h3>You need to create a band first!</h3>
}

@if (@Model["bands"].Count > 0)
{
    <h3>Assign a band to @Model["venue"].Name:</h3>

    <form action='/venue/add/band/@Model["venue"].Id' method="post">
        <select name="new-band">
            @foreach (var band in Model["bands"])
            {
                <option value=@band.Id>@band.Name</option>
            }
        </select>
        <button type="submit" name="button">Select Band</button>
    </form>
}
<a class="grey" href="/">Return to home</a>
