@{
  Layout="Shared/_Layout.cshtml";
}

<h3>Assign a venue to @Model["band"].Name:</h3>

<form action='/band/add/venue/@Model["band"].Id' method="post">
    <select name="new-venue">
        @foreach (var venue in Model["venues"])
        {
            <option value=@venue.Id>@venue.Name</option>
        }
    </select>
    <button type="submit" name="button">Select Venue</button>
</form>

<a href="/">Return to home</a>
