@{
  Layout="Shared/_Layout.cshtml";
}

<h3>Here are the venues you have entered:</h3>

<div class="well">
    <form action='/venue/delete' method="post">
        <input type="hidden" name="_method" value="DELETE">
        <select name="delete-venue">
            @foreach (var venue in Model)
            {
                <option value=@venue.Id>@venue.Name</option>
            }
        </select>
        <button type="submit" name="button">Delete Venue</button>
    </form>

    OR

    <form action='/venue/delete/all' method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" name="button">Delete ALL Venues</button>
    </form>
</div>

<a class="grey" href="/">Return to home</a>
