@{
  Layout="Shared/_Layout.cshtml";
}

<h3>Here the venues you have entered:</h3>

<form action='/venue/delete' method="post">
    <input type="hidden" name="_method" value="DELETE">
    <select name="delete-venue">
        @foreach (var venue in Model)
        {
            <option value=@venue.Id>@venue.Name</option>
        }
    </select>
    <button type="submit" name="button">Delete Venue</button>
</form>

<a href="/">Return to home</a>
