@{
  Layout="Shared/_Layout.cshtml";
}

<h3>Edit @Model.Name</h3>

<div class="well white">

<form action="/venue/edit/@Model.Id" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <label>Enter venue name here:</label>
    <input type="text" name="edit-venue" required>
    <button type="submit" name="button">Submit</button>
</form>

</div>

<a class="grey" href="/">Return to home</a>
