@{
  Layout="Shared/_Layout.cshtml";
}

<h3>Band Tracker</h3>
<hr>
<a href="/band/add">Add Band</a>
<a href="/venue/add">Add Venue</a>
<hr>
<a href="/band/view">View Bands</a>
<a href="/venue/view">View Venues</a>
<hr>
<a href="/band/delete">Delete Band</a>
<a href="/venue/delete">Delete Venue</a>
