@{
  Layout="Shared/_Layout.cshtml";
}

<h3>Band Tracker</h3>
<hr>
<div class="">
    <a class="margin" href="/band/add">Add Band</a>
    <a class="margin" href="/venue/add">Add Venue</a>
</div>

<hr>

<div class="">
    <a class="margin" href="/band/view">View Bands</a>
    <a class="margin" href="/venue/view">View Venues</a>
</div>

<hr>

<a href="/venue/delete">Delete Venue</a>
