@{
  Layout="Shared/_Layout.cshtml";
}

<h3>Add new Band:</h3>

<div class="well white">
    <form action="/band/add" method="post">
        <label>Enter band name:</label>
        <input type="text" name="new-band" required>
        <hr>
        <label>Select a venue:</label>
        <select name="new-venue">
            @foreach (var venue in Model)
            {
                <option value=@venue.Id>@venue.Name</option>
            }
        </select>
        <button type="submit" name="button">Submit</button>
    </form>
</div>

<a class="grey" href="/">Return to home</a>
