@{
  Layout="Shared/_Layout.cshtml";
}

<h3>Add new Venue:</h3>


<div class="well white">
    <form action="/venue/add" method="post">
        <label>Enter venue name:</label>
        <input type="text" name="new-venue" required>
        <button type="submit" name="button">Submit</button>
    </form>
</div>

<a class="grey" href="/">Return to home</a>
