body {
    background-color: black;
}

input {
    background-color: black;
}

select {
    background-color: black;
}

button {
    color: black;
}

li {
    list-style-type: none;
}

#background-picture {
    height: 100vh;
    background-color: black;
    background-image: url("/Content/img/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.well {
    color: white;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-left: 20vw;
    margin-right: 20vw;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0, 0, 0, 0.4), rgba(0,0,0,0.2));
}

.well a {
    color: white;
}

.margin {
    margin-left: 10px;
    margin-right: 10px;
}
