body {
    background-color: black;
}

input {
    background-color: black;
    color: white;
}

select {
    background-color: black;
    color: white;
}

button {
    color: black;
}

li {
    list-style-type: none;
}

#background-picture {
    height: 100vh;
    background-color: black;
    background-image: url("/Content/img/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.well {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-left: 20vw;
    margin-right: 20vw;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0, 0, 0, 0.7), rgba(0,0,0,0.8));
}

/*.well a {
    color: white;
}*/

.margin {
    margin-left: 10px;
    margin-right: 10px;
}

.inline {
  display: inline;
}

.link-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1em;
}

.link-button:hover {
  text-decoration:underline;
}

.link-button:focus {
  outline: none;
}
.link-button:active {
  color:red;
}

.grey {
    color: darkgrey;
}

.grey a:hover {
    color: darkgrey;
}

.white a {
    color: white;
}

.white {
    color: white;
}

.white a:hover {
    color: white;
}
